.casa {
    display: inline-block;
    height: 70px;
    width: 80px;
    border-style: solid;
}


.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    margin: auto;
    margin-top: 5px;
}

.xis {
    background-image: url("Xis.png");
    height: 70px;
}